.fluid-container
  div id="carousel-example-generic" class="carousel slide" data-ride="carousel"
    ol class="carousel-indicators"
      li data-target="#carousel-example-generic" data-slide-to="0" class="active"
      li data-target="#carousel-example-generic" data-slide-to="1"
      li data-target="#carousel-example-generic" data-slide-to="2"

    div class="carousel-inner" role="listbox"
      div class="item active"
        img class="landing-img" src="./images/1.jpg" alt="..."
      div class="item"
        img class="landing-img" src="./images/2.jpg" alt="..."
      div class="item"
        img class="landing-img" src="./images/3.jpg" alt="..."
    a href="#carousel-example-generic" class="left carousel-control" role="button" data-slide="prev"
      span class="glyphicon glyphicon-chevron-left" aria-hidden="true"
      span class="sr-only"
    a href="#carousel-example-generic" class="right carousel-control" role="button" data-slide="next"
      span class="glyphicon glyphicon-chevron-right" aria-hidden="true"
      span class="sr-only"

.container.intro
  .row 
    div class="col-sm-12 col-md-4"
      div class="thumbnail"
        img src="./images/i1.png" alt="..."
        div class="caption intro-caption"
          h3 系统方案
          p 
            | WMS基于Saas模式，是一款在线仓库管理系统，界面设计简洁、操作简单包含：基础档案、商品进货、销售出库、库内作业、统计查询等功能。同时，Saas部署方式，可降低企业的信息化投入成本，让企业专注核心业务。
    div class="col-sm-12 col-md-4"
      div class="thumbnail"
        img src="./images/i3.png" alt="..."
        div class="caption intro-caption"
          h3 产品
          p 
            | 轻薄极速，天生坚固雀码建有勰业裔爵翁箬彗星鼷a蓰蛩尹夔雯譑甪一可以更快更有效的开展工作，助力企业最大程度简化工作流程，提高企业效益。
    div class="col-sm-12 col-md-4"
      div class="thumbnail"
        img src="./images/i2.png" alt="..."
        div class="caption intro-caption"
          h3 服务
          p 
            | 真唯公司为客户提供软件&硬件一体化解决方案以及各项专业化服务，为客户节约成本，提高效率，合理配置资源，提高企业核心竞争力。
